.shift {

         width: 75%;

    }

@media only screen and (min-width: 900px) {
    .shift {
        width: 75%;
        margin-left: 300px !important;
    }
}


body{
  background-image: url("./images/GZIJ11e-free-music-background-images.jpg");
  background-size: cover;
}
.padding{
  color: orange;
  font-family: Roboto, serif;
  border-bottom: 3px solid green;
  font-weight: bolder;
}

.line{
  border-bottom: 2px solid black;
}

.footer{
  padding: 50px 50px 50px 50px;
  background-color: black;
}

ul .myplave{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
ul .myplave{
  text-decoration: none;
  list-style: none;
  color: green;
}
ul .myplave:hover{
  color: orange;
  text-decoration: none;
}

.sec-1{
  width: 100%;
  height: 30vh;
}

img.divide{
  height: 30vw;
}

.form-over{
    margin-left: 0;
}



@media only screen and (min-width: 900px){
    .form-over{
        margin-left:300px;
    }
}

@media only screen and (max-width: 600px) {
   .form-over::before{
    content: "\a";
    white-space: pre;
}
}


.form{
  margin-left: 50px;
  border-radius: 8px;
  margin-bottom: 15px;
}
button.btn-orange{
    background-color: orange;
    color:white;
}

button.form-button{
  margin-left: 8px;
  background-color: orange;
  border-radius: 10px;
}

footer{
  position: relative;
  margin-top: 100px;
}

.bottom{
  margin-top: 150px;
  margin-bottom: 200px;
}

.spinner-border{
  size: 10px;
}
.home{
    margin-left: 200px;
}

@media only screen and  (min-width: 900px){
    .home{
        margin-left: 600px;
    }
}

div.red{
    background-color: green;
    color: white;
}

div.red input{
    font-family: "Britannic Bold", serif;
    color: purple !important;
    font-size: 21px;
}

div.red input[type='file']{
    color:white !important;
}

div.spinner-grow{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    background: rgba(0, 0, 0, .5);
}

#loading {
  background: rgba(0, 0, 0, .5) url('https://i.pinimg.com/originals/b7/aa/f9/b7aaf94d7c34c81d57bf028e9d58377c.gif') no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.floating{
    margin-top: 10px !important;
}

@media only screen and (min-width: 900px) {
    .floating{
    margin-left: 500px !important;
    margin-top: 10px !important;
}
}

#loader{
    background: rgba(0, 0, 0 , .5) url("https://media1.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif?itemid=5662595")no-repeat 50% 50%;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.floating-2{
    margin-top: 20px;
     margin-left: 200px !important;
}

@media only screen and (min-width: 900px) {
    .floating-2{
    margin-top: 20px;
     margin-left: 200px !important;
}
}

.navbar-toggler.collapsed .close-icon{
display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon{
    display: inline;
}

@media only screen and (max-width: 600px){
    .myBut{
        margin-top: 15px;
    }
}

.shifter{
    margin-left: 100px;
}

@media only screen and (min-width: 900px){
    .shifter{
        margin-left: 600px;
    }
}

.text-orange{
    color: black;
}

